body {
    font-family: 'NanumSquareNeo';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
}
.inner{
    width: 90%;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: center; /* 가로 중앙 정렬 */
}

h1 {
    font-family: 'NanumGothic', sans-serif;
    text-align: center;
}

#inputText {
    font-family: 'NanumGothic', sans-serif;
    font-size: 15px;
    width: 90%;
    height: 300px;
    margin-bottom: 10px;
    padding: 12px;
    resize: vertical;
}

#resultText{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    width: 90%;
    gap: 12px;
}

#infoText{
    margin-top: 20px;
    width: 100%;
    text-align: end;
    padding: 10px;
    font-size: 14px;
}