body {
    font-family: 'NanumSquareNeo';
    margin: 0;
    height: 100vh;
    min-width: 240px;
}
#background{
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 300px;
    background-color: #0766AD;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
h1 {
    font-family: 'NanumGothic', sans-serif;
    text-align: center;
    color: white;
    margin-top: 100px;
}

#infoText{
    margin: -20px 8px 8px 8px;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #dddddd;
}

#inner{
    margin-top: 76px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(360px, auto);
    gap: 20px;
}

#inputText {
    font-family: 'NanumGothic', sans-serif;
    font-size: 15px;
    width: 95%;
    height: 260px;
    margin-bottom: 10px;
    padding: 12px;
    resize: vertical;
    border-radius: 16px;
    border: none;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1); /*그림자*/
}
#inputText:focus {
    border-color: #007bff; /* 활성화된 상태의 테두리 색상 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5), 0 0 10px rgba(0, 123, 255, 0.3); /* 활성화된 상태의 그림자 효과 */
}

#resultText{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: start;
    width: 90%;
    gap: 12px;

    margin-bottom: 20px;
}

